.fighterCard{
  border: 3px solid red; 
  border-radius: 4px;
  margin-top: 1.5em;
  background-color: grey;
}

body {
  background-image:url(https://i.ytimg.com/vi/vE9qkExo8vc/hqdefault.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.img-circle{
  width: 20%;
  float: left;
  margin: auto;
}

h1 {
  color: red;
}

h3 {
  color: white;
}

h2 {
  color: white;
}

.badges{
  width: 3.8%;
  height: 3.8%;
  margin: .5%;
}

.badges:hover{
  transition: transform 1s;
  transform: rotate(360deg) scale(1.6);
}

.winner{
  border: 3px solid red;
  background-color: grey;
  border-radius: 4px;
  margin-top: 1.5em;
}

.badgeHolder{
  margin: auto;
}

/* .playerName{
  text-align: left;
} */